<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>
</div>

<div>
  <label for="ccnum">Name</label>
  <br>
  <input type="text" id="name" maxlength="100" placeholder="" required (keyup)="setNameError()" />
  <div class="errName" style="display:none">Name cannot be empty</div>
  <br>
  <label>Card number</label>
  <br>
  <input type="number" id="cardNum"   (keyup)="setCardError()" />
  <div class="errCard" style="display:none">Credit card cannot be empty</div>
  <div class="errCardLength" style="display:none">Credit card number should be between 13 to 19 characters</div>
  <br>
  <label>Limit(£)</label>
  <br>
  <input type="number" id="limit" maxlength="100" placeholder="1000" />
  <div class="errLimit" style="display:none">Credit card cannot be empty</div>

  <br><br>
  <button (click)="add()" class="btn">Add</button>
  <br><br>
  <app-table></app-table>
</div>